#partone{
    height:80vh;
    margin-bottom: 0;
    text-align: center;
    color:#fff;
    background-image:url("Assets/h_img.jpg");
    background-size: cover;
}
.row{
    text-align: center;
}
#logo{
position: relative;
}

#parttwo{
    background-image: url("Assets/s_image.jpg");
    background-size: cover;
    color:white;
    height:55vh;
	margin-top: 10px;
    margin-bottom: 10px;
    padding:50px;
    text-align: center;
	font-weight: bolder;
} 
.col-lg-3 img{
	max-width: 100%;
	max-height: 100%;
}
.col-lg-3{
	padding: 10px;
}
#partthree{
	margin-top: 10px;
	height: 50vh;
	background-image: url("Assets/c_image.jpg");
	background-size: cover;
	margin-bottom: 15px;
}


#message{
    height:150px;
    width:500px;
  }
#contactus{
    text-align: center;
    color:white;
  }
.socialmedia{
	text-align: center;
	margin-bottom: 10px;
}
footer{
	text-align: center;
}
#para{
	display: none;
}
#overlay {
  background: transparent;
  color: #fff;
  text-align: left;
  font-weight: bold;
}
.imgs-grey1{
    position: relative;

}
.grey1{
    position:absolute;
    top:0;
    left:0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-size: xx-large;
    font-weight: bolder;
    
}
/* .grey1:hover{ */
    /* opacity:1; */
/* } */
