#partone{
    height:80vh;
    margin-bottom: 0;
    text-align: center;
    color:#fff;
    background-image:url("Assets/h_img.jpg");
    background-size: cover;
}
.row{
    text-align: center;
}
#logo{
position: relative;
}

#parttwo{
    background-image: url("Assets/s_image.jpg");
    background-size: cover;
    color:white;
    height:50vh;
	margin-top: 10px;
    margin-bottom: 10px;
    padding:40px;
    text-align: center;
} 
.col-lg-3 img{
	max-width: 100%;
	max-height: 100%;
}
.col-lg-3{
	padding: 10px;
}
#partthree{
	margin-top: 10px;
	height: 50vh;
	background-image: url("Assets/c_image.jpg");
	background-size: cover;
	margin-bottom: 15px;
}
#message{
    height:200px;
    width:600px;
  }
#contactus{
    background-size:cover;
    text-align: center;
    padding:20px;
    margin-top:20px;
    color:white;
  }
.socialmedia{
	text-align: center;
}